@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font1: "Inter", sans-serif;
$font2: "Merriweather", sans-serif;
$color1: white;

body {
    background: url(/assets/images/bg.jpg) fixed center/cover;
    min-height: 100vh;
}

h1 {
    font-family: $font1;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    color: $color1;
}
p {
    font-family: $font2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}